body {
  margin: 0;
  background-color: #990000;
}

/* Skrifttype og forskellige størrelser */

@font-face {
  font-family: 'ForgottenUncial';
  src: url('../font/ForgottenUncial.woff') format('woff'),
       url('../font/ForgottenUncial.ttf') format('truetype'),
       url('../font/ForgottenUncial.svg#ForgottenUncial') format('svg');
  src: url('../font/forgotten_uncial.eot');
  src: url('../font/forgotten_uncial.woff2') format('woff2'),
       url('../font/forgotten_uncial.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: ForgottenUncial;
  font-size: 3vw;
  margin: auto;
  letter-spacing: 1.2pt;
  color: #ffffff;
  text-align: center;
  text-shadow: 00px 0px 80px #000000;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vw;
  letter-spacing: 1.2pt;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3vw;
  text-align: center;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3vw;
}

a {
  font-family: 'Josefin Sans', sans-serif;
}

/* Header med logo og billede */

header {
  display: flex;
  background-color: #ffffff;
  right: 0;
  left: 0;
  top: 0;
}

.logo {
  display: flex;
  width: 11%;
  height: auto;
  margin: 10px;
  z-index: 2;
}

.logo img {
  width: 100%;
  align-self: center;
}

.header {
  display: flex;
  height: auto;
  width: 89%;
  align-self: center;
  padding: 5px 0 5px 0;
  z-index: 2;
}

/* Navigationen med searchbar */

nav {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  position: sticky;
  box-shadow:0px 4px 8px #990000;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav a, input.search {
  font-family: ForgottenUncial;
  display: block;
  color: #990000;
  margin: 10px 10px 10px 5px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 1.3vw;
  font-weight: bold;
  letter-spacing: 1.2pt;
  border-left: 2px solid #000099;
  padding-left: 20px;
}

nav a:nth-child(2) {
    border-left: none;
}

nav .icon {
  display: none;
}

nav a:hover {
  color: #009999;
}

input.search {
  display: inline-block;
  border: 1px solid #000099;
  box-sizing: border-box;
  width: 10%;
  color: #990000;
  text-align: left;
  }

/* Sidens hovedindehold */

  main {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto auto auto;
    width: 100%;
  }

  .welcome {
    width: 100%;
  }

aside {
  display: flex;
  flex-wrap: wrap;
}

.runestone {
  background-image: url("../images/runesten.png");
  margin: 40px auto 0 auto;
  padding: 0;
  width: 10%;
  min-height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.sidebar_a {
  background-color: #ffffff;
  margin: 40px 0 auto 0;
  width: 12%;
  min-height: 500px;
  text-align: center;
  border-right: thin inset #000099;
}

.sponsor {
  width: 100%;
}

.sponsor img {
  width: 80%;
  height: auto;
  margin-top: 10px;
}

.artikel {
  margin: 40px 0 auto 0;
  padding: 0 10px 0 10px;
  min-height: 500px;
  background-color: #ffffff;
  width: 50%;
  }

  .sidebar_b {
    background-color: #ffffff;
    margin: 40px 0 auto 0;
    width: 12%;
    min-height: 500px;
    text-align: center;
    border-left: thin outset #000099;
  }

  .facebook {
    width: 100%;
  }

/* Footer med kontaktoplysninger, logo og socialemedier */

footer {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 1.3pt;
  line-height: 24pt;
  color: #fff;
  font-weight: 300;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 10px auto 0px auto;
  border: hidden;
  box-shadow:0px -2px 4px #000099;
}

.indhold {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
}

footer a{
  text-decoration: none;
  color: #ffffff;
}

/* Er blevet brugt til logo med copyright */
.foot_logo {
  width: 50%;
}

.copyright {
    position: relative;
    text-align: center;
}

.txt_under {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socialmedier{
  width: 100%;
}

/* Er blevet brugt til alle socialemedier i footer */
.social{
  width: 17%;
  float: right;
  height: auto;
  margin: 0px 20px 0 0;
  text-decoration: none;
}

/* Header og nav responsive */
@media screen and (max-width: 820px) {
/* nedenstående forsvinder når ovenstående sker */
 nav a {
   display: none;
   border: none;
 }

 nav input.search { display: none;}

 /* Burger menu bliver synlig */
 nav a.icon {
   position: relative;
   margin: auto;
   font-size: 40px;
   display: block;
   padding: 0;
 }

 nav.responsive {position: relative;
 background-color: #ffffff;}

 nav.responsive .icon {
   position: relative;
   margin-top: auto;
   font-size: 40px;
   display: block;
   width: 100%;
 }

 nav.responsive a, nav.responsive input.search {
   float: none;
   text-align: center;
   display: block;
   font-size: 16px;
   margin: auto auto 20px auto;
   padding: 0;
   z-index: 2;
 }

nav.responsive input.search{
  width: 20%;
}

 nav.responsive {
   display: block;
   position: sticky;
   padding-bottom: 10px;
 }
}

/* Desktop Styles */
@media only screen and (min-width: 720px) {

  .footer_left,
  .footer_middle,
  .footer_right{
    width: 32%;
 }

 .footer_left{
   margin-right: 2%;
 }

 .footer_right{
   margin-left: 2%;
 }
}
/* Desktop Styles slut */

/* Tablet Styles */
@media only screen and (min-width: 420px) and (max-width: 719px) {

  /* Skrift typer til tablet*/
    h1 {
      font-size: 4.5vw;
    }

    h2 {
      font-size: 3vw;
    }

    h3 {
      font-size: 1.8vw;
    }

    p {
      font-size: 1.8vw;
    }

/* Header og logo i tablet */
    header {
      overflow: hidden;
      width: 100%;
    }

     .logo {
       width: 60px;
       height: auto;
     }

     .logo img {
       width: 60px;
     }

/* Kasserne i footeren, nu lægger de sig under hinanden */
  .footer_left,
  .footer_middle,
  .footer_right{
    width: 100%;
    margin: 10px 0 10px 0;
 }

 .footer_left{
   order: 1;
   text-align: center;
 }
 .footer_middle{
   order: 3;
 }

 .footer_right{
   order: 2;
   text-align: center;
 }

 .socialmedier{
   margin:auto;
 }

 .social{
   float: none;
 }

}
/* Tablet Styles slut */

/* Mobile Styles */
@media only screen and (max-width: 420px) {

  /* Skrift typer til mobile*/
    h1 {
      font-size: 7vw;
    }

    h2 {
      font-size: 5vw;
    }

    h3 {
      font-size: 2.2vw;
    }

    p {
      font-size: 2.2vw;
    }

/* Header og logo i mobile */
    header {
      overflow: hidden;
      width: 100%;
    }

   .logo {
     width: 50px;
     height: auto;
   }

   .logo img {
     width: 50px;
    }

  .runestone {
    display: none;
  }

    .sidebar_a,
    .artikel,
    .sidebar_b{
      width: 80%;
      margin: 10px auto 10px auto;
      min-height: auto;
      border: hidden;
      padding: 0 10px 0 10px;
    }

    .sidebar_a {
      order: 3;
    }

    .artikel {
      order: 1;
    }

    .sidebar_b{
      order: 2;
    }

    /* Kasserne i footeren, nu lægger de sig under hinanden */
     .footer_left,
     .footer_middle,
     .footer_right{
       width: 100%;
       margin: 10px 0 10px 0;
    }

    .footer_left{
      order: 4;
      text-align: center;
    }
    .footer_middle{
      order: 6;
    }
    .footer_right{
      order: 5;
      text-align: center;
    }

    .social{
      float: none;
    }
}
/* Mobile Styles slut */
